.center-div {
    width : fit-content;
    margin : auto;
    margin-top: 10%;
    padding: 4%;
    background-color: rgba(254, 254, 254, 0.863);
    border-radius: 3%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.352);
    font-weight: bold;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,251,90,1) 0%, rgba(0,254,255,1) 100%);
}